In [17]:
import pandas as pd
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.cross_validation import KFold
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

C:\Users\Sangarshanan Veera\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [30]:
header = pd.read_csv('header.csv')
header.columns

Index(['key', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30',
       'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40',
       'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50',
       'V51', 'V52', 'V53', 'V54', 'label'],
      dtype='object')

In [28]:
train = pd.read_csv('train.csv',header=None)
train.columns = header.columns
train.head()

,key,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V46,V47,V48,V49,V50,V51,V52,V53,V54,label
0,447095,3452,111,22,433,214,3677,252,210,74,...,0,0,0,0,0,0,0,1,0,0
1,113427,3093,95,9,124,7,4115,234,227,124,...,0,0,0,0,0,0,0,0,0,1
2,66435,2551,61,17,90,5,726,231,202,98,...,0,0,0,0,0,0,0,0,0,1
3,8957,2944,135,3,430,13,1868,224,238,149,...,0,0,0,0,0,0,0,0,0,1
4,434631,3030,327,34,277,101,1973,120,181,190,...,0,1,0,0,0,0,0,0,0,1

In [35]:
test = pd.read_csv('test.csv',header=None)
test_column = header.columns.drop('label')
test.columns = test_column
test.head()

,key,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V45,V46,V47,V48,V49,V50,V51,V52,V53,V54
0,258918,2352,293,23,256,45,201,151,228,215,...,0,0,0,0,0,0,0,0,0,0
1,258134,2790,88,8,330,35,1400,232,227,128,...,0,0,0,0,0,0,0,0,0,0
2,165265,2826,115,7,162,24,1020,232,233,134,...,0,0,0,0,0,0,0,0,0,0
3,522141,3234,137,16,150,20,968,243,232,112,...,0,0,0,0,0,0,0,0,0,0
4,569662,2810,58,22,124,25,3293,230,188,80,...,0,0,0,0,0,0,0,0,0,0

In [36]:
train.columns

Index(['key', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30',
       'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40',
       'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50',
       'V51', 'V52', 'V53', 'V54', 'label'],
      dtype='object')

In [37]:
test.columns

Index(['key', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30',
       'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40',
       'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50',
       'V51', 'V52', 'V53', 'V54'],
      dtype='object')

In [39]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(train.drop('label',axis=1), train['label'], test_size=0.1, random_state = 0)

In [49]:
model = LogisticRegression()
model.fit(train_X,train_Y)
prediction=model.predict(test_X)
print('The accuracy of the Logistic Regression is',metrics.accuracy_score(prediction,test_Y))

The accuracy of the Logistic Regression is 0.6184504929802562

In [109]:
model=DecisionTreeClassifier()
model.fit(train_X,train_Y)
prediction=model.predict(test_X)
print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,test_Y))

The accuracy of the Decision Tree is 0.9596272528337144

In [113]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier()
model.fit(train_X,train_Y)
prediction=model.predict(test_X)
print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,test_Y))

The accuracy of the Decision Tree is 0.9635858474097022

In [130]:
from sklearn.ensemble import VotingClassifier #for Voting Classifier

In [131]:
model1 = RandomForestClassifier()
model2 = DecisionTreeClassifier()
ensemble=VotingClassifier(estimators=[('RandomForestClassifier', model1), ('DecisionTreeClassifier', model2)], 
                       voting='soft', weights=[2,1]).fit(train_X,train_Y)
print('The accuracy for the ensemble:',ensemble.score(test_X,test_Y))

The accuracy for the ensemble: 0.968380418479998

In [132]:
sample = pd.read_csv('sample_submission.csv')
sample.head()

      key     score
0  258918  0.675780
1  258134  0.661843
2  165265  0.998716
3  522141  0.895189
4  569662  0.080690

In [133]:
p = ensemble.predict(test)
#p = [max(i) for i in p]

In [134]:
sub = pd.DataFrame(columns = sample.columns)
sub['key'] = test['key']
sub['score'] = p

In [135]:
sub.to_csv('prediction_ensemble.csv', index=False)